.intro_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author_name {
  color: var(--font-color-main);
  font-size: clamp(1.5rem, 8vw, 5rem);
}

.tagline {
  color: var(--font-color-main);
  font-family: "Inter", sans-serif, monospace;
  font-size: clamp(0.2rem, 4vw, 2.5rem);
  font-weight: 250;
  letter-spacing: 8px;
  border-right: 2px solid;
}
