.intro_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author_name {
  color: var(--font-color-main);
  font-size: 85px;
}

.tagline {
  color: var(--font-color-main);
  font-family: "Inter", sans-serif, monospace;
  font-size: 40px;
  font-weight: 250;
  letter-spacing: 8px;
  border-right: 2px solid;
}

@media only screen and (max-width: 600px) {
  .author_name {
    font-size: 30px;
  }

  .tagline {
    font-size: 10px;
    letter-spacing: 4px;
  }
}
