.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tictactoe-square-color);
  padding: 20%;
  border-radius: 12px;
}

.image {
  filter: var(--tictactoe-player-color);
  /* opacity: 0; */
  /* transform: rotate(-15deg) scale(0.8); */
}

.reveal {
  animation: logo_reveal 0.8s cubic-bezier(0.11, 0.88, 0.69, 0.97) forwards;
}

@keyframes logo_reveal {
  0% {
    opacity: 0;
    transform: rotate(-15deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
}
