* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-y: none;
  font-family: var(--global-font-family);
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #643ce7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.construction_banner {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 0;
  background-color: black;
  width: 100%;
  text-align: center;
  color: var(--font-color-main);
  font-size: 1.2em;
  font-weight: 800;
}

.tech_stack {
  width: 70%;
}

.games_section {
  margin: 120px;
  width: 30%;
}

.simulation {
  border-radius: 38px;
  margin: 20px;
  width: 70%;
  aspect-ratio: 2/1;
  background-color: var(--container-bg-color);
}

@media only screen and (max-width: 600px) {
  .games_section {
    width: 60%;
  }
}
