* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior-y: none;
  font-family: var(--global-font-family);
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.construction_banner {
  background-color: var(--container-bg-color);
  width: 100%;
  text-align: right;
  color: var(--font-color-main);
  font-size: 25px;
  font-weight: 600;
}

#gradient-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #643ce7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
}

.games_section {
  margin: 120px;
  width: 30%;
}
