.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.winline {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 0%;
  border-radius: 25px;
  background-color: var(--tictactoe-win-color);
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(90deg) scaleX(1);
  transition: width 0.4s ease-in-out;
}

.cell {
  width: 100%;
  aspect-ratio: 1/1;
}

@media only screen and (max-width: 600px) {
  .winline {
    height: 5px;
  }
}
